body {
    font-family: Arial, sans-serif;
    background-color: #F98866;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #FFF2D7 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upload-form, .select-form {
    margin-bottom: 20px;
}

.file-input {
    display: block;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #F98866;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #f7754d;
}

.options-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
